<h1>Checkout Your Awesome Recipes!!</h1>

<ul>
    <li><span>{{Recipe.title}}</span></li>
    <li><span>{{Recipe.description}}</span></li>
    <li><span>{{Recipe.instructions}}</span></li>
    <li><span>{{Recipe.ingredients}}</span></li>
    <li><span>{{User.Name}}</span></li>
</ul>
