<h1>Checkout Your Awesome Recipes!!</h1>

<ul>
    <li>{{Recipe.title}}</li>
    <li>{{Recipe.description}}</li>
    <li>{{Recipe.instructions}}</li>
    <li>{{Recipe.ingredients}}</li>
    <li>{{User.Name}}</li>
</ul>
